* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

svg {
   position:absolute; 
   width: 0; 
   height: 0;
}

canvas {
    display: block;
}       

#container{
    width: 100vw;
    height: 100vh;
    opacity: 0%;
}

#paper {
    border: 10px solid red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    z-index: 100;
    top:0;
    left:0;
}
